*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-wrap: wrap;
    gap: 10px;
}


.container div{
    width: 100px;
    height: 100px;
    background-image: url('https://picsum.photos/300/300');
    background-position: center;
    background-size: cover;

}

.blue {
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}