*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: font1;
  src: url('../fonts/personal.ttf');
}
body{
  background-color: rgba(0,0,0,.3);
  width: 100vw;
  overflow-x: hidden;
}

div.title{
  width: 100%;
  border: 3px soild green ; 
  display: flex;
}
h1.title{
  color: white;
  font-family: font1;
  font-size: 70px;
}
img.title{
  width: 450px;

}
div.about-us h1.title{
  color: white;
  font-family: font1;

  font-size: 70px;
}
div.about-us h2.subtitle{
  color: white;
  font-family: font1;

  font-size: 25px;
}
h1.vehicles{
  color: white;
  font-family: font1;

  font-size: 70px;
}
img.bmw{
  width: 500px;

}
img.bmww{
  width: 400px;

}
img.bmwww{
  width: 375px;

}
h1.motorcycles{
  color: white;
  font-family: font1;

  font-size: 70px;
}
img.bmwm{
  width: 500px;

}
img.bmwmm{
  width: 500px;

}
img.bmwmmm{
  width: 550px;

}